body{
    font-family:sans-serif;
}
.container {
    width: 450px;
    height: 300px;
    box-sizing: border-box;
    box-shadow: 2px 2px 25px 0 dimgrey;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: fixed;
}

.box {
    box-sizing: border-box;
    width: 400px;
    height: 280px;
    margin:15px;
}

    .box h2 {
        text-align: center;
        margin-bottom: 30px;
        color: #455a64;
    }

    .box h4 {
        text-align: center;
        margin-top: 10px;
        color: #455a64;
    }

    .box .inputbox {
        position: relative;
    }

        .box .inputbox .input {
            width: 100%;
            padding: 10px;
            margin-bottom: 30px;
            border:none;
            outline: none;
            font-size: 16px;
            border-radius:5px;
        }
        .box .inputbox .input:focus{
            border:1.2px solid;
            border-bottom-color:#455a64;
            border-left-color:transparent;
            border-right-color:transparent;
            border-top-color:transparent;
        }
#Login {
    width: 105%;
    padding: 10px;
    background-color: #039be5;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 5px;
}