*{
	margin: 0px;
	padding: 0px;
}
body{
	font-family: sans-serif;
}
/*=======Header=======*/
.header{
    top:0px;
	width: 100%;
	height: 65px;
	position: fixed;
	background-color: #455a64;
}
.header .container{
	width: 1200px;
	height: 65px;
	margin: 0 auto;
}
.header .container .logo p{
	font-size: 40px;
	color: #fff;
	float: left;
	line-height: 65px;
}
.header .container nav{
	margin-left: 870px;
}
.header .container nav ul li{
	list-style: none;
	display: inline-block;
}
.header .container nav ul li a{
	line-height: 65px;
	text-decoration: none;
	color: #fff;
	margin: 20px;
}


/*======Services=======*/
.services{
    margin-top:75px;
	width: 100%;
}
.imagebar{
	width:100%;
	margin-top: 65px;
	height: 300px;
	float: right;
}

.services .show-transports{
	width: 80%;
	float: left;
	margin-left: 10%;
	margin-top: 10px;
	height: 200px;
	border-radius: 5px;
	box-shadow: 2px 2px 25px 0 #ccc;
}
.show-transports .box{
	margin: 10px;
	width: 180px;
	height: 180px;
	float: left;
	border-radius: 5px;
	border: 1px solid #e6e6e6;
}
.box img{
	width: 180px;
	height: 180px;
}

.transport-info{
	float: right;
	width: 78%;
	height: 180px;
	margin: 10px;
}
.transport-info h2{
	color: #444;
}
.transport-info h2:hover{
	color: #000;
}
.transport-info p{
	color: #444;
	margin-top: 10px;
}
#more-info {
    width: 100px;
    padding: 10px;
    background-color: #039be5;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor:pointer;
    margin-top: 25px;
}
#delete {
    width: 100px;
    padding: 10px;
    background-color: #ff6565;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor:pointer;
    margin-top: 25px;
}
